@charset "UTF-8";


.charitable-setup-checklist {
    max-width: 937px;
    margin-left: auto;
    margin-right: auto;
}
.charitable-setup-checklist h1 {
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 27.3px;
    text-align: left;
    color: rgba(25, 29, 45, 0.9);
}
.charitable-setup-checklist h1 + p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(25, 29, 45, 0.7);
}
.charitable-main-header {
    margin: 0 auto 20px auto;
}

/* sections */

section.charitable-step {
    display: inline-block;
    background-color: white;
    margin-bottom: 20px;
    width: 100%;
}
section.charitable-step header {
    padding: 30px;
    border-bottom: 1px solid rgba(235, 235, 235, 1);
}
section.charitable-step h2 {
    color: rgba(25, 29, 45, 0.9);
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    display: inline-block;
    margin: 0;
    padding: 0;
}
section.charitable-step header a {
    display: block;
    float: right;
    font-size: 23px;
    line-height: 23px;
}
section.charitable-step h2 {
    font-family: Inter;
    font-size: 17px;
    font-weight: 600;
    line-height: 22.1px;
    text-align: left;
    color: rgba(25, 29, 45, 0.9);
}
section.charitable-step p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    color: rgba(25, 29, 45, 0.9);
}

/* buttons */

.charitable-setup-checklist input.button-primary[type="submit"],
.charitable-setup-checklist a.button-primary {
    background-color: #5aa152;
    border-color: #5aa152;
    color: #fff;
    border-radius: 5px;
    font-family: "Inter",sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    padding: 15px 20px;
    text-transform: capitalize;
}
.charitable-setup-checklist input.button-primary[type="submit"]:hover,
.charitable-setup-checklist a.button-primary:hover {
    background-color: #5aa152;
    border-color: #5aa152;
}
.charitable-setup-checklist input.button-primary[type="submit"].alt,
.charitable-setup-checklist a.button-primary.alt {
    background-color: rgba(218, 144, 33, 1);
    border-color: rgba(218, 144, 33, 1);
}
.charitable-setup-checklist input.button-primary[type="submit"].alt:hover,
.charitable-setup-checklist a.button-primary.alt:hover {
    background-color: rgba(218, 144, 33, 1);
    border-color: rgba(218, 144, 33, 1);
}

/* checks */

.charitable-checklist-checkbox {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" y="0.5" width="23" height="23" rx="11.5" stroke="%235AA152"/></svg>');
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: relative;
    top: 6px;
    margin-right: 10px;
}
.charitable-checklist-checkbox.charitable-checklist-checked {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" y="0.5" width="23" height="23" rx="11.5" fill="%235AA152" stroke="%235AA152"/><path d="M10.3985 16.4489L6.27692 12.3273L7.3073 11.297L10.3985 14.3881L17.0327 7.75388L18.0631 8.78426L10.3985 16.4489Z" fill="white"/></svg>');
}

/* content */

.charitable-toggle-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    align-items: center;
}
.charitable-toggle-container.charitable-column {
    flex-direction: column;
}
.charitable-step-opt-in .charitable-toggle-container.charitable-equal-flex p {
    max-width: 80%;
}
.charitable-toggle-container p {
    color: rgba(25, 29, 45, 0.7);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
}
.charitable-toggle-container h4,
.charitable-toggle-container h3 {
    margin: 0;
}
.charitable-toggle-container label {
    color: rgba(25, 29, 45, 0.9);
    margin-left: 7px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
}
.charitable-toggle-container.charitable-step-two-col-content div:first-child {
    text-align: left;
}
.charitable-toggle-container.charitable-step-two-col-content div:last-child {
    text-align: right;
}
.charitable-toggle-container.charitable-step-one-col-content .charitable-sub-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgba(235, 235, 235, 1);
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.charitable-toggle-container.charitable-step-one-col-content .charitable-sub-container.charitable-column {
    flex-direction: column;
}
.charitable-toggle-container.charitable-step-one-col-content .charitable-sub-container:not(.charitable-column) div:first-child {
    display: flex;
    align-items: center;
}
.charitable-sub-container-row {
    width: 100%;
}
.charitable-toggle-container.charitable-step-one-col-content .charitable-sub-container div.charitable-sub-container-row {
    display: block;
}
.charitable-toggle-container.charitable-step-one-col-content .charitable-sub-container img.wpchar-arrow {
    position: relative;
    top: 5px;
    margin-left: 5px;
}
.charitable-toggle-container.charitable-step-one-col-content .charitable-sub-container:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.charitable-gateway-icon,
.charitable-gateway-info-column {
    display: inline-block;
}
.charitable-gateway-info-column {
    margin: 20px 0 0 20px;
}
.charitable-gateway-icon img {
    border: 1px solid rgba(25, 29, 45, 0.14);
    border-radius: 10px;
    padding: 10px;
}

.charitable-next-level-icon {
    width: 58px;
}

.charitable-angle-down {
    transform: rotate(0deg);
    transition: transform .1s linear;
}
.charitable-angle-down.charitable-angle-right {
    transform: rotate(-90deg);
    transition: transform .1s linear;
}
.charitable-pro {
    text-align: center;
}
.charitable-pro h4 {
    color: rgba(25, 29, 45, 0.8);
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: center;
}
.charitable-pro h4 + p {
    color: rgba(25, 29, 45, 0.7);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}
.charitable-pro li {
    color: rgba(25, 29, 45, 0.8);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
}
.charitable-pro ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 66%;
    margin: 25px auto;
    justify-items: left;
    width: fit-content;
    max-width: 70%;
}
.charitable-pro ul li {
    padding: 10px 20px;
    margin: 10px;
    display: inline-block;
}
.charitable-pro ul li {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" y="0.5" width="23" height="23" rx="11.5" fill="%235AA152" stroke="%235AA152"/><path d="M10.3985 16.4489L6.27692 12.3273L7.3073 11.297L10.3985 14.3881L17.0327 7.75388L18.0631 8.78426L10.3985 16.4489Z" fill="white"/></svg>');
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 30px;
}
.charitable-learn-more a {
    color: rgba(25, 29, 45, 0.5) !important;
    display: inline-block;
    text-decoration: none;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    margin: 15px auto;
}
.charitable-learn-more a:hover {
    color: rgba(25, 29, 45, 0.5) !important;
    text-decoration: underline;
}

.wpchar-disabled {
    opacity: 0.35;
}
.wpchar-disabled a {
    pointer-events: none;
    cursor: not-allowed;
}